html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }
  html body h1 {
    margin: 48px auto; }
  html body h2 {
    margin: 24px auto; }
  html body .algae-cal-blue {
    color: #40a8bb; }
  html body .algae-cal-green {
    color: #4c813d; }
  html body .flex-space {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  html body .flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  html body #header-section {
    padding: 1rem 0; }
    html body #header-section .container .row {
      /* First column */
      /* Second column */ }
      html body #header-section .container .row div[class*='col']:first-child #logo {
        margin-left: -0.6rem; }
      html body #header-section .container .row div[class*='col']:nth-child(2) #speak-to-specialists {
        display: none; }
        html body #header-section .container .row div[class*='col']:nth-child(2) #speak-to-specialists #speak-span {
          font-size: 0.8rem; }
  html body #intro-section {
    padding: 1rem;
    background-image: url(/algaecal/images/green-bg.png);
    color: white; }
  html body #products-section .container #products-wrapper {
    display: none; }
    html body #products-section .container #products-wrapper .product-container {
      text-align: center;
      position: relative; }
      html body #products-section .container #products-wrapper .product-container .add-to-cart-button {
        position: absolute;
        bottom: 0;
        margin: 0 auto; }
  html body #products-section .container h2.nf-title {
    font-size: 1.5rem; }
  html body #video-section {
    margin-bottom: 2rem; }
    html body #video-section #vs-copy {
      margin: 1rem auto; }
    html body #video-section #youtube-video {
      position: relative; }
      html body #video-section #youtube-video #tap-to-play {
        position: absolute;
        top: 50%;
        left: 60%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 50vw; }
  html body #guarantee-section {
    margin: 2rem 0; }
    html body #guarantee-section .container > div[class*='col'] {
      background-image: url(/algaecal/images/green-bg.png);
      padding: 1rem; }
      html body #guarantee-section .container > div[class*='col'] .white-bg {
        background: white;
        padding: 1rem; }
        html body #guarantee-section .container > div[class*='col'] .white-bg #sev-yr-title {
          font-size: 1.5rem;
          color: orange;
          font-weight: 700; }
        html body #guarantee-section .container > div[class*='col'] .white-bg #sev-yr-copy {
          font-size: 0.9rem; }
  html body #book-section img {
    width: 100%; }
  html body #references-section #sr-title,
  html body #references-section #full-rl a {
    font-weight: 700;
    font-size: 1.3rem; }
  html body #references-section #full-rl a {
    text-decoration: underline; }
  html body #references-section #reference-wrapper {
    padding: 0 75vw; }
  html body #references-section .container > div:last-child {
    margin: 1rem 0; }
  html body #bnb-section {
    margin: 1rem 0; }
  html body #footer-section {
    margin-bottom: 2rem; }
    html body #footer-section img[alt="Logo"] {
      margin: 1rem 0; }
    html body #footer-section #footer-menu {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      html body #footer-section #footer-menu > li a {
        color: gray;
        padding-right: 0.5rem; }
      html body #footer-section #footer-menu > li:not(:last-child) {
        margin-right: 0.5rem;
        border-right: 1px solid gray; }
    html body #footer-section #copyrite {
      margin-top: 1rem; }
