$roboto: 'Roboto', sans-serif;
$algae-cal-blue: #40a8bb;
$algae-cal-green: #4c813d;
$selected-blue: #008ba4;

html {
	font-size: 16px; 
	line-height: 1.5;
	font-family: $roboto;

	body {

		h1 {
			margin: 48px auto;
		}

		h2 {
			margin: 24px auto;
		}

		.pointer {
			cursor: pointer;
		}

		.algae-cal-blue {
			color: $algae-cal-blue;
		}

		.algae-cal-green {
			color: $algae-cal-green;
		}

		.flex-space {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-pack: distribute;
			    justify-content: space-around;			
		}

		.flex-center {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}

		#header-section {
			padding: 1rem 0;

			.container {

				.row {
					/* First column */
					div[class*='col']:first-child {
						#logo {
							margin-left: -0.6rem;
						}
					}

					/* Second column */
					div[class*='col']:nth-child(2) {
						#speak-to-specialists {
							display: none;

							#speak-span {
								font-size: 0.8rem;
							}							
						}							
					}
				}			
			}


		}

		#intro-section {
			padding: 1rem;
			background-image: url(/algaecal/images/green-bg.png);
			color: white;
			
			.container {
				.row {
					> div[class*='col']:first-child {
						@media screen and (max-width: 800px) {
							text-align: center;
						}
					}

					#youtube-video {
						@media screen and (max-width: 800px) {
							display: none;
						}
					}						
				}
			}		
		}

		#products-section {
			display: none;

			.container {

				#products-wrapper {
				
					.product-container {
						text-align: center;
						position: relative;

						.add-to-cart-button {
							position: absolute;
							bottom: 0;
						}
					}				
				}		
				
				h2.nf-title {
					font-size: 1.5rem;
				}		
			}
		}

		#intro-section,
		#video-section {

			#vs-copy {
				margin: 1rem auto;

				@media screen and (min-width: 800px) {
				    font-size: 1.5rem;
				    text-align: center;					
				}
			}

			#youtube-video {
				position: relative;

				#tap-to-play {
					position: absolute;
					top: 50%;
					left: 60%;
					-webkit-transform: translate(-50%, -50%);
					    -ms-transform: translate(-50%, -50%);
					        transform: translate(-50%, -50%);
					width: 50vw;
					max-width: 200px;
				}
			}			
		}

		#video-section {
			#youtube-video {
				@media screen and (min-width: 800px) {
					display: none;
				}
			}
		}

		#guarantee-section {
			margin: 0 0 2rem 0;

			.container {
				> div[class*='col'] {
					background-image: url(/algaecal/images/green-bg.png);
					padding: 1rem;

					.white-bg {
						background: white;
						padding: 1rem;

						#sev-yr-title {
							font-size: 1.5rem;
							color: orange;
							font-weight: 700;
						}

						#sev-yr-copy {
							font-size: 0.9rem;

							@media screen and (min-width: 800px) {
								text-align: center;
							}
						}
					}					
				}
			}

		}

		#book-section {
			.container {
				.row {
					> div[class*='col']:first-child > div	{
						-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
						box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
						margin-bottom: 2rem;

						#as-seen-title-container {
							background-color: $algae-cal-green;
							color: white;
							font-weight: 700;
							padding: 0.4rem;

							span {
								@media screen and (min-width: 800px) {
									font-size: 1.5rem;
								}
							}
						}

						#books-logos-container {
							padding: 1rem;

							img {
								width: 100%;
								background-color: white;
							}
						}												
					}					
				}					
			}
		}

		#references-section {
			margin-bottom: 2rem;

			#sr-title,
			#full-rl a {
				font-weight: 700;
				font-size: 1.3rem;
			}

			#sr-title {
				margin-bottom: 1rem;
			}

			#full-rl a {
				text-decoration: underline;
			}

			#reference-wrapper {
				padding: 0 75vw;
			}

			.container {
				> div:last-child {
					margin-top: 1rem;
				}
			}
		}

		#bnb-section {
			margin: 1rem 0;
		}

		#footer-section {
			margin-bottom: 2rem;

			img[alt="Logo"] {
				margin: 1rem 0;
			}

			#footer-menu {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;

				> li {
					a {
						color: gray;
						padding-right: 0.5rem;						
					}

					&:not(:last-child) {
						margin-right: 0.5rem;	
						border-right: 1px solid gray;					
					}
				}
			}

			#copyrite {
				margin-top: 1rem;
			}
		}

		/********** BEGIN - NUTRITION FACTS *****************/

		/*@import "compass/css3";*/

		.performance-facts {
			border: 1px solid black;
			width: 280px;
			padding: 0.5rem;
			font-size: small;
			line-height: 1.4;
			margin: 0 auto;

			table {
				border-collapse: collapse;
			}
		}
		.performance-facts__title {
		  font-weight: bold;
		  font-size: 1.7rem;
		  margin: 0 0 0.25rem 0;
		  text-align: center;
		}
		.performance-facts__header {
		  border-bottom: 10px solid black;
		  padding: 0 0 0.25rem 0;
		  margin: 0;

		  p {
		    margin: 0;
		  }
		}
		.performance-facts__table {
		  width: 100%;
		  thead tr {
		    th, td {
		      border: 0;
		    }
		  }
		  th, td {
		    font-weight: normal;
		    text-align: left;
		    padding: 0.25rem 0;
		    border-top: 1px solid black; 
		    white-space: nowrap;
		  }
		  td {
		    &:last-child {
		      text-align: right;
		    }
		  }
		  .blank-cell {
		    width: 1rem;
		    border-top: 0;
		  }
		  .thick-row {
		    th, td {
		      border-top-width: 5px;
		    }
		  }
		}
		.small-info {
		  font-size: 0.7rem;
		}

		.performance-facts__table--small {
		  @extend .performance-facts__table;
		  border-bottom: 1px solid #999;
		  margin: 0 0 0.5rem 0;
		  thead {
		    tr {
		      border-bottom: 1px solid black; 
		    }
		  }
		  td {
		    &:last-child {
		      text-align: left;
		    }
		  }
		  th, td {
		    border: 0;
		    padding: 0;
		  }
		}

		.performance-facts__table--grid {
		  @extend .performance-facts__table;
		  margin: 0 0 0.5rem 0;
		  td {
		    &:last-child {
		      text-align: left;
		      &::before {
		        content: "•";
		        font-weight: bold;
		        margin: 0 0.25rem 0 0;
		      }
		    }
		  }
		}

		.text-center {
		  text-align: center;
		}
		.thick-end {
		  border-bottom: 10px solid black;
		}
		.thin-end {
		  border-bottom: 1px solid black;
		}

		/********** END - NUTRITION FACTS *****************/

	}
}