$roboto: 'Roboto', sans-serif;
$algae-cal-blue: #40a8bb;
$algae-cal-green: #4c813d;
$selected-blue: #008ba4;

html {
	font-size: 16px; 
	line-height: 1.5;
	font-family: $roboto;

	body {

		h1 {
			margin: 48px auto;
		}

		h2 {
			margin: 24px auto;
		}

		.algae-cal-blue {
			color: $algae-cal-blue;
		}

		.algae-cal-green {
			color: $algae-cal-green;
		}

		.flex-space {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-ms-flex-pack: distribute;
			    justify-content: space-around;			
		}

		.flex-center {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-align: center;
			    -ms-flex-align: center;
			        align-items: center;
			-webkit-box-pack: center;
			    -ms-flex-pack: center;
			        justify-content: center;
		}

		#header-section {
			padding: 1rem 0;

			.container {

				.row {
					/* First column */
					div[class*='col']:first-child {
						#logo {
							margin-left: -0.6rem;
						}
					}

					/* Second column */
					div[class*='col']:nth-child(2) {
						#speak-to-specialists {
							display: none;

							#speak-span {
								font-size: 0.8rem;
							}							
						}							
					}
				}			
			}


		}

		#intro-section {
			padding: 1rem;
			background-image: url(/algaecal/images/green-bg.png);
			color: white;
		}

		#products-section {
			.container {
				#products-wrapper {
					display: none;

					.product-container {
						text-align: center;
						position: relative;

						.add-to-cart-button {
							position: absolute;
							bottom: 0;
							margin: 0 auto;
						}
					}				
				}		
				
				h2.nf-title {
					font-size: 1.5rem;
				}		
			}
		}

		#video-section {

			margin-bottom: 2rem;

			#vs-copy {
				margin: 1rem auto;
			}

			#youtube-video {
				position: relative;

				#tap-to-play {
					position: absolute;
					top: 50%;
					left: 60%;
					-webkit-transform: translate(-50%, -50%);
					    -ms-transform: translate(-50%, -50%);
					        transform: translate(-50%, -50%);
					width: 50vw;
				}
			}			
		}

		#guarantee-section {
			margin: 2rem 0;

			.container {
				> div[class*='col'] {
					background-image: url(/algaecal/images/green-bg.png);
					padding: 1rem;

					.white-bg {
						background: white;
						padding: 1rem;

						#sev-yr-title {
							font-size: 1.5rem;
							color: orange;
							font-weight: 700;
						}

						#sev-yr-copy {
							font-size: 0.9rem;
						}
					}					
				}
			}

		}

		#book-section {
			img {
				width: 100%;
			}
		}

		#references-section {
			#sr-title,
			#full-rl a {
				font-weight: 700;
				font-size: 1.3rem;
			}

			#full-rl a {
				text-decoration: underline;
			}

			#reference-wrapper {
				padding: 0 75vw;
			}

			.container {
				> div:last-child {
					margin: 1rem 0;
				}
			}
		}

		#bnb-section {
			margin: 1rem 0;
		}

		#footer-section {
			margin-bottom: 2rem;

			img[alt="Logo"] {
				margin: 1rem 0;
			}

			#footer-menu {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				-ms-flex-wrap: wrap;
				    flex-wrap: wrap;

				> li {
					a {
						color: gray;
						padding-right: 0.5rem;						
					}

					&:not(:last-child) {
						margin-right: 0.5rem;	
						border-right: 1px solid gray;					
					}
				}
			}

			#copyrite {
				margin-top: 1rem;
			}
		}
	}
}